<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Numbers in Flask</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            background: #1c1cb1b9;
        }
        h1 {
            color: #000000;
        }
        ul {
            list-style-type: square;
        }
        .box {
            border: 1px solid #000000;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 2px;
            background: #f9f9f9;
        }
    </style>
</head>
<body>
    <h1>Number in Flask</h1>
    
    <div class="box">
        <h2>List of 10 Numbers:</h2>
        <ul>
            {% for num in numbers %}
                <li>{{ num }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="box">
        <h2>Even Numbers:</h2>
        <ul>
            {% for num in even_numbers %}
                <li>{{ num }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
